<!DOCTYPE html>
<html>
	<head>
		<title>Snacros</title>
		<link rel="stylesheet" type="text/css" href="/static/styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	</head>
	<body>
			<div id="title">
				<h1 class="text">Snacros</h1>
				<!-- <h2 class="text"> Snack Recommender</h2> -->
			</div>
			<h3 class="text">What levels of nutrients are you looking for in your snack?</h3>

			<form class="formInputs" role="form">
				<div id="selectors">
					<div id="selectorsFat">
						<p>Fat:</p>
						<select id="Fat_Level" name="fatContent">
						  <option value="None" selected>None</option>
						  <option value="Low">Low Fat</option>
						  <option value="Medium">Medium Fat</option>
						  <option value="High">High Fat</option>
						</select>
					</div>
					<div id="selectorsCarb">
						<p>Carbs:</p>
						<select id="Carb_Level" name="carbContent">
						  <option value="None" selected>None</option>
						  <option value="Low">Low Carb</option>
						  <option value="Medium">Medium Carb</option>
						  <option value="High">High Carb</option>
						</select>
					</div>
					<div id="selectorsProtein">
						<p>Protein:</p>
						<select id="Protein_Level" name="proteinContent">
						  <option value="None" selected>None</option>
						  <option value="Low">Low Protein</option>
						  <option value="Medium">Medium Protein</option>
						  <option value="High">High Protein</option>
						</select>
					</div>
					<div id="similarSnacks">
						<input placeholder="Similar Snacks that you like" name="similarSnacks" id="similarSnacks"></input>
					</div>
					<div id="submit">
						<button type="button" class="button" onclick="show()">Click Me</button>
					</div>
				</div>
			</form>

			<div id="testF"></div>
			<div id="testC"></div>
			<div id="testP"></div>
			<div id="results" >
			<!-- <p>The Dictionary with the top 11 elements: {{ filters }}</p>

				{% for d in filters %}
						<br>
						<p>{{d}}</p>
				{% endfor %}
			</div> -->

		<script>
			var fat;
			var carb;
			var protein;

			function show() {
				var fat = $('#Fat_Level').val();
				var carb = $('#Carb_Level').val();
		    var protein = $('#Protein_Level').val();
		    var similarSnacks = $('#similarSnacks').val();
				// AJAX call to retrieve the nutrient levels and similar snacks values
				$.ajax({
					url: '/filterLevels',
					data: $('form').serialize(),
					type: 'POST',
		      async: true,
					success: function(response){
						console.log(response);
		        response=$.parseJSON( response );
		        fat = response.fat;
		        carb = response.carb;
		        protein = response.protein;
						$.ajax({
							url: '/filters',
							data: $('form').serialize(),
							type: 'POST',
				      async: true,
							success: function(data){
								console.log(data)
								// document.getElementById('results').innerHTML = data
								// x = data.split(" ");
								// x = toString(x).split("{");
								// console.log(x);
								// document.getElementById('results').innerHTML = x;
								data=$.parseJSON( data );
								console.log(data);
								document.getElementById("results").innerHTML = "";
								var keys = Object.keys(data);
								console.log(keys);
								var text = "";
								var i;
								for (i = 0; i < 11; i++) {
								  fatPercentage = data[keys[i]].fat;
									carbPercentage = data[keys[i]].carb;
									proteinPercentage = data[keys[i]].protein;
									$('#results')
										.append('<div class="catalog"><b>'+i + ".</b>" + "<b>"+keys[i]+"</b><p><b>Fat Percentage:</b> " + (fatPercentage*100).toFixed(2) + "%</p> <p><b>Carb Percentage:</b> " + (carbPercentage*100).toFixed(2) + "%</p> <p><b>Protein Percentage:</b> " + (proteinPercentage*100).toFixed(2) + "%</p><br>")
										.addClass('text').css("float","left");
								};

								// document.getElementById('results').innerHTML = data;
							},
							error: function(error){
								console.log(error);
							}
					});
					},
					error: function(error){
						console.log(error);
					}
				});

				div = document.getElementById('results');
    		div.style.display = "block";
				console.log(fat);
				console.log(carb);
				console.log(protein);
			}




		</script>



		<!-- {{ filters }} -->
	</body>
</html>
